@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@500&family=Space+Grotesk:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
  font-size: clamp(0.1rem, 0.6vw+0.6rem, 0.8vw+0.8rem);
  text-transform: uppercase;
  font-family: Plan;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #131619;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}